*
{
    margin: 0;
    box-sizing: border-box;
}
.Container
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background: url(1.png);
    background-size: cover;
}
.nav
{
   
    display: flex;
    padding: 20px 350px;
    justify-content: space-between;
    text-align: center;
}
.nav ul
{

    display: flex;
    padding: 0 10px;
    gap: 30px;
    
    list-style: none;
    text-align: center;
}
.nav ul a
{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-family: "Lato";
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    line-height: 20px;
    letter-spacing: 1.2px;

}
.nav ul a:hover
{
    color: #37435a;
    border-bottom: 1px solid #37435a;

}
.nav img{
    width: 43px;
    height: 43px;
}
.Text
{
    top: 20%;
    position: relative;
    width: 100%;
    height:25%;
    align-items: center;
    text-align: center;
}
.Los h1
{
    
    color: #4d4d4d;
    font-family: "Bebas Neue";
    font-size: 115px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    line-height: 124.56px;
    text-transform: uppercase;

}
.Los h2
{
    color: #37435a;
    font-family: "Bebas Neue";
    font-size: 115px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    line-height: 124.56px;
    
    text-transform: uppercase;
}
.page2
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(3.jpg);
    background-size: cover;
  
}
.nav2
{
    background-color: #fff;
   width: 100%;
   height: 80px;
    display: flex;
    padding: 20px 350px;
    justify-content: space-between;
   
}
.nav2 ul
{

    display: flex;
    padding: 10px 10px;
    gap: 30px;
    list-style: none;
    text-align: center;
}
.nav2 ul a
{
    font-size: 14px;
    text-decoration: none;
    color: #37435a;
    font-weight: 700;
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #37435a;
    line-height: 20px;
    letter-spacing: 1.2px;

}
.nav2 ul a:hover
{
    color: #4382f7;
    border-bottom: 1px solid #4382f7;

}
.nav2 img{
    width: 43px;
    height: 43px;
}
.logo
{
   
    width: 20%;
    display: flex;
    gap: 10px;
}
.logo h5
{
    color: #37435a;
    font-size: 18px;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    line-height: 18px;
    padding: 5px 0;
}
.header
{
    position: absolute;
    width: 100%;
    padding: 40px 350px;
    
   
}
.number
{
  display: flex;
}

.header h1{
    font-family: "Bebas Neue";
    font-size: 7.53em;
    color: #37435a;
    opacity: 0.5;
}
.number h4
{
    padding: 80px 30px 0 0;
    color: #37435a;
    font-size: 25px;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    

}
.head
{
    position: absolute;
    padding: 180px 450px;
    color: #37435a;
}
.head h5
{
    line-height: 16px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Lato";

}
.grid
{
    bottom: 0;
   position: absolute;
    opacity: 0.9;
   width: 100%;
   height: 30%;
   background-color: #37435a;
   padding: 0 15%;
   
   
}
.box
{
    
    position: absolute;
    display: grid;
    width: 70%;
    height: 100%;
    gap: 5px;
    justify-content: space-between;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
   
}
.box img
{
   
    width: 100%;
    height: 80%;
    object-fit: cover;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    filter: blur(3px);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.box img:hover
{
    transform: scale(1,2);
    filter: none;

}
.Text
{
    position: relative;
    width: 100%;
    padding: 20px 350px;
    
}
.num
{
  display: flex;
}

.Text h1{
    font-family: "Bebas Neue";
    font-size: 7.53em;
    color: #37435a;
    opacity: 0.5;
}
.num h4
{
    padding: 80px 30px 0 0;
    color: #37435a;
    font-size: 25px;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    

}

.num h5
{
    padding: 50px 30px 0 0;
    line-height: 16px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Lato";

}
.page3
{
    width: 100%;
    height: 100vh;
    background: url(7.jpg);
    background-size: cover;
 
}
.nav3
{
    width: 100%;
    height: 50px;
    background-color: #37435a;
}
.nav3 ul
{
    display: flex;
    padding: 5px 350px;
    gap: 30px;
    list-style: none;
}
.nav3 a
{
    letter-spacing: 2px;
    color: #ccc;
    font-size: 2em;
    font-family: "Bebas Neue";
    font-weight: 400;
}
.nav3 a:hover
{
    padding: 0;
    background-color: #ccc;
    color: #37435a;
}
.footer
{
    padding: 5px 350px;
    position: relative;
    bottom: 0;
     opacity: 0.9;
    width: 100%;
    height: 60px;
    background-color: #37435a;
    display: flex;
    justify-content: space-between;
}
.logo1
{
   
    width: 20%;
    display: flex;
    gap: 10px;
    opacity: 0.5;
}
.logo1 h5
{
    color: #ccc;
    font-size: 18px;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    line-height: 18px;
    padding: 5px 0;
}
.copy
{
    opacity: 0.5;
    color: #ccc;
    font-size: 18px;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    line-height: 18px;
    padding: 5px 0;
}
.schedule
{
    
    position: absolute;
    width: 100%;
    height: 70%; 
    display: flex;
   justify-content: left;
   padding: 40px 350px;
}
.sche
{
 position: absolute;
 display: grid;
 background-color: #fff;
 opacity: 0.8;
 width: 30%;
 height: 50%;
padding: 20px;
}
.sche h1
{
    color: #37435a;
    font-size: 3em;
    font-family: "Bebas Neue";
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.date
{
    padding: 20px 0;
}
.date h3
{
    padding: 10px 0;
    font-family: "Bebas Neue";
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: capitalize;

}
@media only screen and (max-width:1000px){
    .Text
    {
        padding: 0;
    }
    .nav{
        width: 100%;
        padding: 10px 0;
    }
    .nav2{
        width: 100%;
        padding: 10px 0;
    }
    .nav3{
        width: 100%;
        padding: 10px 0;
    }
    
}
@media only screen and (max-width:500px){
    .box
    {
        width: 100%;
        gap: 0;
        padding: 0;
        grid-template-columns: 1fr 1fr ;
    }
    .Container
    {
        background-size: cover;
        width: 100%;
    }
    .Text
    {
        padding: 0;
        text-align: left;
    }
    .Los h1
    {
        font-size: 5em;

    }
    .Los h2
    {
        font-size: 5em;
    }
    .head 
    {
        padding: 150px 0;
    }
    .header{
        padding: 0;
    }
   
    .nav3 ul{
        padding: 0;
    }
 .schedule
 {
    padding: 50px 0;
    width: 100%;
 }
 .footer{
    
    padding: 0;
 }
 
 .box img{
    padding: 0;
    width: 100%;
    height: 80% ;
    gap: 0;
 }
 .grid
{
    bottom: 0;
  padding: 0;
   width: 100%;
   height:50% ;
   background-color: #37435a;
   
   
   
}
.sche
{
    width: 100%;
}
.copy h5
{
    font-size: 10px;
}
}